// font

$font-family: 'Quicksand','Hiragino Sans','ヒラギノ角ゴシック','Avenir','Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
$font-size-reset: 62.5%;
$line-height: 1.7;
$letter-spacing: 0.1em;


// color
$color-black: #2D2D2D;
$color-white: #FEFEFE;
$color-primary: #5DAAC3;
$color-primary-light: #B8DCE8;
$color-shadow: #000000;
